---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { useState } from 'react';
import Aside from '../components/Aside.astro';
import MainAside from '../components/MainAside.astro';
import MainContent from '../components/MainContent.astro';


function click(){
}

const ids = [1, 2, 3, 4, 5]

---

<Layout title="Inicio">
	<main class="grid grid-cols-[240px_1fr]">
		<MainAside/>
		<MainContent/>
	</main>
</Layout>



