<section class="bg-zinc-700 flex flex-col h-screen">
    <nav class="flex flex-row justify-between items-center px-4 py-2 pb-3">
        <div class="flex flex-row gap-7 items-center">
            <div class="flex flex-row gap-3 items-center">
                <svg x="0" y="0" class="icon_fc4f04" color="grey" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M13 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z" class=""></path><path fill="currentColor" d="M3 5v-.75C3 3.56 3.56 3 4.25 3s1.24.56 1.33 1.25C6.12 8.65 9.46 12 13 12h1a8 8 0 0 1 8 8 2 2 0 0 1-2 2 .21.21 0 0 1-.2-.15 7.65 7.65 0 0 0-1.32-2.3c-.15-.2-.42-.06-.39.17l.25 2c.02.15-.1.28-.25.28H9a2 2 0 0 1-2-2v-2.22c0-1.57-.67-3.05-1.53-4.37A15.85 15.85 0 0 1 3 5Z" class=""></path></svg>
                <p class="text-white font-bold">Amigos</p>
            </div>
            <div class="border-solid bg-zinc-500 h-[25px] w-[1px] rounded-md"></div>
            <p class="text-zinc-300 font-semibold hover:bg-zinc-500 px-2 rounded-md">En línea</p>
            <p class="text-zinc-300 font-semibold hover:bg-zinc-500 px-2 rounded-md">Todos</p>
            <p class="text-zinc-300 font-semibold hover:bg-zinc-500 px-2 rounded-md">Pendiente</p>
            <p class="text-zinc-300 font-semibold hover:bg-zinc-500 px-2 rounded-md">Bloqueado</p>
            <p class="text-green-500 font-semibold px-2 rounded-md">Añadir amigo</p>

        </div>
        <div class="flex flex-row gap-7">
            <svg x="0" y="0" class="icon_fc4f04" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" color="grey" width="24" height="24" fill="none" viewBox="0 0 24 24"><path d="M19 14a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3h-3a1 1 0 1 1 0-2h3v-3a1 1 0 0 1 1-1Z" fill="currentColor" class=""></path><path d="M20.76 12.57c.4.3 1.23.13 1.24-.37V12a10 10 0 1 0-18.44 5.36c.12.19.1.44-.04.61l-2.07 2.37A1 1 0 0 0 2.2 22h10c.5-.01.67-.84.37-1.24A3 3 0 0 1 15 16h.5a.5.5 0 0 0 .5-.5V15a3 3 0 0 1 4.76-2.43Z" fill="currentColor" class=""></path></svg>
            <div class="border-solid bg-zinc-500 h-[25px] w-[1px] rounded-md"></div>
            <svg x="0" y="0" class="icon_fc4f04" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" color="grey" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM4 5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v6c0 .83-.67 1.5-1.5 1.5h-2.65c-.5 0-.85.5-.85 1a3 3 0 1 1-6 0c0-.5-.35-1-.85-1H5.5A1.5 1.5 0 0 1 4 11.5v-6Z" clip-rule="evenodd" class=""></path></svg>
            <svg x="0" y="0" class="icon_fc4f04" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" color="grey" width="24" height="24" fill="none" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="transparent" class=""></circle><path fill="currentColor" fill-rule="evenodd" d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98 0-1.81.47-2.27 1.14A1 1 0 1 1 7.8 7.01 4.73 4.73 0 0 1 11.72 5c2.5 0 4.65 1.88 4.65 4.38 0 2.1-1.54 3.77-3.52 4.24l.14 1a1 1 0 0 1-1.98.27l-.28-2a1 1 0 0 1 .99-1.14c1.54 0 2.65-1.14 2.65-2.38 0-1.23-1.1-2.37-2.65-2.37ZM13 17.88a1.13 1.13 0 1 1-2.25 0 1.13 1.13 0 0 1 2.25 0Z" clip-rule="evenodd" class=""></path></svg>

        </div>
    </nav>
    <hr class="border-zinc-800"/>
    <div class="grid grid-cols-[1196px_1fr] grid-rows-[160px_1fr]">
        <div class="flex flex-col gap-3 py-5 px-5 border-solid border-[1px] border-[#4e5b63] border-r-0 border-t-0 border-l-0 h-[155px]">
            <h1 class="font-bold text-white">AÑADIR AMIGO</h1>
            <p class="text-sm text-zinc-400">Puedes añadir amigos con su nombre de usuario de Discord.</p>
            <div class="flex flex-row justify-between gap-9 bg-zinc-800 rounded-lg mb-5">
                <input type="text" placeholder="Puedes añadir amigos con su nombre de usuario de Discord." class="bg-transparent px-4 py-3 w-full text-white"/>
                <a href="/" class="bg-[#5865F2] my-3 mx-3 rounded-md text-sm text-zinc-300 font-semibold w-[280px] h-[32px] text-center flex items-center justify-center px-2">Enviar solicitud de amistad</a>
            </div>
        </div>
        <div class="flex flex-col gap-2 row-span-2 h-screen border-solid border-[1px] border-l-[#4e5b63] border-t-0 border-r-0 border-b-0">
            <h1 class="px-3 py-6 text-xl font-bold text-white">Activo ahora</h1>
            <div class="flex flex-col items-center">
                <h2 class="font-bold text-white">Por ahora está todo tranquilo...</h2>
                <p class="px-12 text-sm text-zinc-400 text-center">Cuando un amigo empiece a realizar una actividad, como jugar o hablar por voz, ¡te lo mostraremos aquí!</p>
            </div>
        </div>
        <div class="flex flex-col gap-6 items-center justify-start">
            <img src="https://support.discord.com/hc/user_images/2shWArOBL5i2Skacig0Rcw.png" width="376px" height="162px">
            <p class="text-zinc-400">Wumpus está esperando a unos amigos. ¡Pero tú no tienes por qué!</p>
        </div>
    </div>
</section>