---
import { DM } from "./DM";
import UserControls from "./UserControls.astro";
---

<aside class="bg-[#36393e] flex flex-col justify-between h-screen">
    <div>
        <input type="search" class="rounded-md bg-zinc-800 mx-2 my-2 text-sm py-1 pl-1 w-11/12" placeholder="Busca o inicia una conversación">
        <hr class="border-zinc-800"/>
        <div class="mx-2 my-2">
            <a href="/" class="flex flex-row gap-4 hover:bg-zinc-500 py-2 px-2 rounded-md group">
                <svg class="linkButtonIcon_c91bad" aria-hidden="true" color="white" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M13 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z" class=""></path><path fill="currentColor" d="M3 5v-.75C3 3.56 3.56 3 4.25 3s1.24.56 1.33 1.25C6.12 8.65 9.46 12 13 12h1a8 8 0 0 1 8 8 2 2 0 0 1-2 2 .21.21 0 0 1-.2-.15 7.65 7.65 0 0 0-1.32-2.3c-.15-.2-.42-.06-.39.17l.25 2c.02.15-.1.28-.25.28H9a2 2 0 0 1-2-2v-2.22c0-1.57-.67-3.05-1.53-4.37A15.85 15.85 0 0 1 3 5Z" class=""></path></svg>
                <p class="text-zinc-400 font-semibold group-hover:text-white">Amigos</p>
            </a>
            <a href="/" class="flex flex-row gap-4 hover:bg-zinc-500 py-2 px-2 rounded-md group">
                <svg class="linkButtonIcon_c91bad" aria-hidden="true" color="white"  role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M15 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" class=""></path><path fill="currentColor" fill-rule="evenodd" d="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1 1 0 0 0 0 2H8a1 1 0 1 1 0 2H6a1 1 0 1 0 0 2h1.25A8 8 0 1 0 15 4H7Zm8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z" clip-rule="evenodd" class=""></path><path fill="currentColor" d="M2.5 10a1 1 0 0 0 0-2H2a1 1 0 0 0 0 2h.5Z" class=""></path></svg> 
                <p class="text-zinc-400 font-semibold group-hover:text-white">Nitro</p>
            </a>
            <a href="/" class="flex flex-row gap-4 hover:bg-zinc-500 py-2 px-2 rounded-md group">
                <svg class="linkButtonIcon_c91bad" aria-hidden="true" color="white"  role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M2.63 4.19A3 3 0 0 1 5.53 2H7a1 1 0 0 1 1 1v3.98a3.07 3.07 0 0 1-.3 1.35A2.97 2.97 0 0 1 4.98 10c-2 0-3.44-1.9-2.9-3.83l.55-1.98ZM10 2a1 1 0 0 0-1 1v4a3 3 0 0 0 3 3 3 3 0 0 0 3-2.97V3a1 1 0 0 0-1-1h-4ZM17 2a1 1 0 0 0-1 1v3.98a3.65 3.65 0 0 0 0 .05A2.95 2.95 0 0 0 19.02 10c2 0 3.44-1.9 2.9-3.83l-.55-1.98A3 3 0 0 0 18.47 2H17Z" class=""></path><path fill="currentColor" d="M21 11.42V19a3 3 0 0 1-3 3h-2.75a.25.25 0 0 1-.25-.25V16a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v5.75c0 .14-.11.25-.25.25H6a3 3 0 0 1-3-3v-7.58c0-.18.2-.3.37-.24a4.46 4.46 0 0 0 4.94-1.1c.1-.12.3-.12.4 0a4.49 4.49 0 0 0 6.58 0c.1-.12.3-.12.4 0a4.45 4.45 0 0 0 4.94 1.1c.17-.07.37.06.37.24Z" class=""></path></svg>
                <p class="text-zinc-400 font-semibold group-hover:text-white">Tienda</p>
            </a>
        </div>
        <div class="flex flex-row items-center justify-between mx-2 px-3 group mt-3">
            <p class="text-zinc-400 text-xs font-semibold group-hover:text-white">MENSAJES DIRECTOS</p>
            <a href="/">
                <svg x="0" y="0" class="privateChannelRecipientsInviteButtonIcon_c47fa9 icon_fc4f04" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" color="grey" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M13 6a1 1 0 1 0-2 0v5H6a1 1 0 1 0 0 2h5v5a1 1 0 1 0 2 0v-5h5a1 1 0 1 0 0-2h-5V6Z" class=""></path></svg>
            </a>
        </div>
        <DM/>
        <DM/>
        <DM/>
    </div>
   <UserControls/>
</aside>